*{
    font-family: andika;
    margin: 0px;
}
.topnav{
  text-align: center;
   
  
}
nav img{
    width: 100px;
    margin-right: 100px;
    
}
nav ul li{
    display: inline;
    width: 150px;
    color:rgba(0, 98, 65, 1) ;
    
}
nav{
    padding: 40px;
    font-weight: bold;
}
.topnav li{
    margin-right: 90px;
}


.end{
    max-width:1170px
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}
.col1 ul li{
    list-style: none;
    color: rgba(0, 0, 0, 0.58);
    
}
.footer{
    padding: 70px 0px;
    
    
}
.col1{
    width: 15%;
    padding: 0 15px;
    justify-content: space-evenly;
    margin-left: 50px;
}
.col1 h4{
    font-size: 20px;
    margin-bottom: px;

}