*{
    font-family: andika;
    margin: 0px;
}


.topnav{
  text-align: center;
   
  
}
.topnav li button{
    cursor: pointer;
}
nav img{
    width: 100px;
    margin-right: 100px;
    
}
nav ul li a {
    text-decoration: none;        /* Removes the underline */
    color: #1e3932;               /* Match Starbucks green color or same as MENU */
    font-weight: bold;            /* Optional: make it stand out */
}

nav ul li a:hover {
    color: #00754a;               /* Optional: hover effect */
}

nav ul li{
    display: inline;
    width: 150px;
    color:rgba(0, 98, 65, 1) ;
    
}
nav{
    padding: 40px;
    font-weight: bold;
}
.topnav li{
    margin-right: 90px;
}



.row{
    display: flex;
    flex-wrap: wrap;
    
}
.col1 ul li{
    list-style: none;
    color: rgba(0, 0, 0, 0.58);
    
}
.footer{
    padding: 80px;
   background-color: beige;
    
    
}
.col1{
    width: 15%;
    padding: 0 15px;
    justify-content: space-evenly;
    margin-left: 50px;
    cursor:  pointer;
    
}
.col1 h4{
    font-size: 20px;
    margin-bottom: px;
    text-align: center;

}
.logos img{
    justify-content: space-between;
    padding: 10px;
    width: 30px;
    cursor: pointer;
}
.terms{
    cursor: pointer;
}